.home {
  padding-top: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    115deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-text {
  padding: 1rem;
}

span {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  /* width: 70%; */
  padding: 0.2rem 0;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 55ch;
  animation: typing 6s steps(55), blink 0.6s infinite step-end alternate;
  overflow: hidden;
}

.home-text-responsive{
  display: none;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.buttons-container {
  margin: 2rem 0 3rem 0;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.btn-explorer {
  padding: 0.3rem 0.5rem;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.39998px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  background-color: #6f8f72;
  color: white;
  cursor: pointer;
  border: none;
  transition: all .3s ease-in-out;
}
.btn-explorer:hover {
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
}


.btn-favourites {
  padding: 0.2rem 0.5rem;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.39998px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid #6f8f72;
  transition: all .3s ease-in-out;
}
.btn-favourites:hover {
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
}

.imageList {
  overflow-x: hidden;
 
}

@media (max-width: 768px) {
  .home-text {
    display: none;
  }

  .h1-title {
    font-size: 1.5rem;
  }

  .home-text-responsive{
    display: inline-block;
  }

  span {
    font-family: "PT Sans", sans-serif;
    font-size: 1.5rem;
    /* width: 70%; */
    padding: 0.2rem 0;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 29ch;
    animation: typing 6s steps(29), blink 0.6s infinite step-end alternate;
    overflow: hidden;
  }
}

@media (max-width: 468px) {

  .h1-title {
    font-size: 1.2rem;
  }

  .buttons-container {
    margin: 2rem 0 3rem 0;
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  .btn-explorer {
    padding: 0.3rem 0.4rem;
    line-height: 1rem;
  }
  
  .btn-favourites {
    padding: 0.3rem 0.4rem;
    line-height: 1rem;
  }
}

@media (max-width: 326px) {

  .buttons-container {
    margin: 2rem 0 3rem 0;
    /* display: flex; */
    flex-direction: column;
    /* gap: 2rem; */
    text-decoration: none;
  }

  .btn-explorer {
    padding: 0.5rem 0.8rem;
    line-height: 1rem;
  }
  
  .btn-favourites {
    padding: 0.5rem 0.5rem;
    line-height: 1rem;
  }
  
  .home-text-responsive{
    display: none;
  }
}
