.searchBar {
  margin: 0.5rem auto;
  width: 88%;
  height: 45px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchBar__h2-select {
  display: flex;
  align-items: center;
  gap: 2rem;
}

h2 {
  font-style: normal;
  font-weight: 900;
  color: #000000;
}

.select {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  color: #6f8f72;
  border: none;
}

.searchBar__seachContainer-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.searchBar__searchContainer {
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 32px;
  gap: 1rem;
  border-radius: 50px;
  padding: 0 1.5rem;
}

.search-container__input {
  background: none;
  border: transparent;
  color: black;
}

.search-input {
  width: 90%;
  background: none;
  color: black;
  font-size: 1rem;
}

.main-content {
  /* min-height: 100vh; */
  position: relative;
  width: 90%;
  padding: 1rem 0 2rem 0;
  margin: auto;
}

.modal{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: transparent;
}

.main-content__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 1rem;
}
